@import "bourbon/bourbon";

body {margin:0; padding:0; text-align:center; background:white; font-family:sans-serif}
a {color:white; text-decoration:none}
	a:hover {text-decoration:underline}
.header {position:relative;
	.top {position:relative; height:600px; overflow:hidden;
		img.bkg {width:100%; position:absolute; top:0; left:0; z-index:1; @include transition(all 2s ease);}
		&:hover {
			img.bkg {width:120%; top:-10%; left:-10%}
		}
		div.logo-y-ocupemos { text-align:left; position:absolute; top:30px; left:30px; z-index:2; color:white;
			div.logo {height:8em; position:relative;
				@include keyframes(fadeIn) {
				  from {
					 @include transform(scale(0));
				  }
				  to {
					 @include transform(scale(1));
				  }
				}
				img {height:8em; position:absolute; top:0; left:0;
					&.white {z-index:1}
					&.color {z-index:2; opacity:0; @include transition(all 1s ease);}
				}
				&:hover {
					img.color {opacity:1}
				}
				height:8em
			}
			div.ocupemos-el-congreso { margin-top:5em; margin-left:6em; text-align:left; font-weight:bold; font-size:1.3em;
				img {margin-bottom:0.7em}
				span {margin-left:2em}
			}
		}
		div.topbar {position:absolute; top:0; right:0; z-index:2; text-align:right;
			a { display:inline-block; margin:10px 10px 0 0; width:75px; height:75px; position:relative;
				img {width:75px; position:absolute; top:0; left:0; vertical-align:middle;
					&.white {z-index:1}
					&.color {z-index:2; opacity:0; @include transition(all 1s ease);}
				}
				&.twitter img {top:5px}
				&:hover {
					img.color {opacity:1}
				}
			}
		}
	}
	$bottomHeight:420px;
	.bottom {break:none; color:white; text-align:center; background:#214e64 url(../img/bkg/that-kinda-blue.jpg); height:$bottomHeight; overflow:hidden; position:relative;
		.left, .middle, .right {display:inline-block; width:33%; max-width:500px; height:$bottomHeight; overflow:hidden}
		.front {position:relative; width:100%; height:100%;
			h2 {position:absolute; bottom:0; font-size:2em;}
		}
		.left, .right { opacity:0.9; position:relative;
			.hover {position:absolute; top:$bottomHeight; height:$bottomHeight/2; width:100%; @include transition(all 1s ease);}
			&:hover {opacity:1;
				.hover {top:$bottomHeight/2}
			}
		}
		.left {background:#393440 url(../img/bkg/kuma-degradado-rojo.jpg) no-repeat; background-size:auto 100%;
			background-position:left top;
			position:absolute; top:0; left:0;
			.front h2 {left:10%; text-align:left; @include transition(all 1s ease);}
			.hover { background:#C94A50; 
				.porque {margin:2em; text-align:left;
					a {text-decoration:underline;}
					a:hover {color:black}
				}
			}
			&:hover {
				.front h2 {bottom:$bottomHeight*0.7; left:45%;}
			}
		}
		.middle {width:36%; text-align:center; position:relative;
			.front { @include transition(all 1s ease); z-index:2;
				/*background:#63CABB url(../img/bkg/newsletter.jpg) center bottom no-repeat; background-size:100%;*/
				background:#204e63 url(../img/bkg/seisMeses-participacion.png) no-repeat; background-size:auto auto;
				background-position:center bottom; 
				.seisMeses { background:#005063; height:180px; width:100%;
					img {margin-top:15px; opacity:0.5; width:90%;}
					&:hover img { opacity:1; }
				}
			}
			&:hover { 
				.front {opacity:0}
			}
			.hover { position:absolute; top:0; left:0; width:100%; height:$bottomHeight; z-index:1;
				.giphy-embed {width:100%; height:auto;}
			}
		}
		.right {background:#393440 url(../img/bkg/wallace.jpg) no-repeat; background-size:auto 100%;
			background-position:right top; 
			position:absolute; top:0; right:0;
			.front h2 {right:10%; text-align:right}
			.hover { top:-$bottomHeight*0.4; 
				.suscribete {background:#62CABB; width:100%; height:$bottomHeight*0.4;
					h2 {margin:0; padding-top:0.8em}
					input {display:block; width:80%; margin:0.5em auto; height:1.5em; line-height:1.5em; font-size:1.5em; color:#7A9B91; text-align:center}
				}
			}
			&:hover {opacity:1;
				.hover {top:0}
			}
		}
	}
	h1 {color:white}
}

.cleanser {background:#ccc; text-align:center; font-weight:bold; text-align:center;
	h2 {margin:0; padding:0; font-size:1.5em; color:black; padding:1.5em 0}
	a {color:black; text-decoration:underline}
	a:hover {color:#FA5651;}
}

$alturaNovedades:200px;
.novedades {
	.novedad {display:block; height:$alturaNovedades; line-height:$alturaNovedades; text-align:left;
		.arrow { display:inline-block; width:45%; text-align:right; height:$alturaNovedades; line-height:$alturaNovedades;
			max-width:650px; @include transition(all 1s ease);
			.chevron {
				float:right;
				margin-right:-$alturaNovedades/2;
				margin-left:0;
				display:inline-block;
				vertical-align:middle;
				width: 0; 
				height: 0; 
				border-top: $alturaNovedades/2 solid transparent;
				border-bottom: $alturaNovedades/2 solid transparent;
				border-left: $alturaNovedades/2 solid transparent;
			}
			.text {display:inline-block; font-size:1.7em; line-height:1em; vertical-align:middle; color:white;
				h1 {font-size:1em; margin:0; font-weight:normal}
				.links {text-align:center; font-size:0.7em; visibility:hidden; @include transition(all 1s ease); margin-top:1em;
					a {text-decoration:underline; color:black; display:inline-block; margin-right:1em}
				}
			}
		}
		&.reverse { text-align:right;
			.arrow {text-align:left;
				.chevron {
					float:left;
					margin-right:0;
					margin-left:-$alturaNovedades/2;
					border-left-width:0;
					border-right:$alturaNovedades/2 solid transparent;
				}
			}
		}
		&:nth-child(1) { 
			background:#8C424C url(../img/bkg/70-renuncia.jpg) no-repeat; background-size:auto auto; background-position:right 0;
			@include transition(background-position-y 3s ease);
			&:hover { background-position:right -400px;
				.arrow {width:40%}
			}
			.arrow {background:#FB524E;
				.chevron  {border-left-color:#FB524E}
			} 
		}
		&:nth-child(2) {
			background:#3D797E url(../img/bkg/razonamiento.jpg) no-repeat; background-size:auto auto; background-position:0 0;
			@include transition(all 1.5s ease);
			&:hover { background-position:0 -200px;
				.arrow {width:35%}
			}
			.arrow {background:#5CCAC6;
				.chevron  {border-right-color:#5CC9C6}
			} 
		}
		&:nth-child(3) { 
			background:#AB7C22 url(../img/bkg/del-congreso-a-las-calles.jpg) no-repeat; background-size:auto auto; background-position:right 0;
			@include transition(background-position-y 1.5s ease);
			&:hover { background-position:right -200px;
				.arrow {width:30%}
			}
			.arrow {background:#E8A41D;
				.chevron  {border-left-color:#E8A41D}
			} 
		}
		&:nth-child(4) { 
			background:#2D614A url(../img/bkg/sin-voto-no-hay-dinero.jpg) no-repeat; background-size:auto auto; background-position:0 0;
			@include transition(all 3s ease);
			&:hover { background-position:0 -600px;
				.arrow {width:35%}
			}
			.arrow {background:#3BAD66;
				.chevron  {border-right-color:#3BAD66}
			} 
		}
		&:hover {
			.text .links {visibility:visible}
		}
	}
}
.equipo-kuma {background:white; height:30em; overflow:hidden;
	div.equipo-strip { margin-bottom:1em; height:6em; position:relative;
		.fleft, .fright { position:absolute; top:0; height:30em; }
		.fleft {left:0}
		.fright {right:0}
		a {text-decoration:underline; display:inline-block; padding:0.3em 0; position:relative; height:3em; width:400px; color:black; 
			font-size:2em; line-height:4em;
			img {width:50px; position:absolute; top:1.5em; left:0.7em; vertical-align:middle;
				&.gray {z-index:1}
				&.color {z-index:2; opacity:0; @include transition(all 1s ease);}
			}
		}
		a:hover {color:#FA5651;
			img.color {opacity:1}
		}
	}
	div.listado {clear:both; margin:0 auto; width:900px;
		a {color:#3366BB}
		div.half {float:left; width:47%;
			&.left {text-align:right; margin-right:5%;}
			&.right {text-align:left}
			div {margin:1em 0; margin-bottom:2em;
				strong {font-size:1.2em}
				span {display:block; font-variant:small-caps; font-size:1.1em}
				em {display:block;}
			}
		}
	}
}

.iniciativas {
	background:#1A2A35 url(../img/bkg/iniciativas.jpg) no-repeat; background-size:100% auto;
	height:300px;
}

.footer { color:white; text-align:center; background:#1A2A35; height:250px; padding-top:2em; font-size:1.2em;
	a {display:inline-block; padding:0.3em 2em; position:relative; height:60px;
		img {width:45px; position:absolute; top:0; left:0; vertical-align:middle;
			&.white {z-index:1}
			&.color {z-index:2; opacity:0; @include transition(all 1s ease);}
		}
		&.twitter img {top:5px; width:60px}
		&.facebook img {width:60px}
		&.correo img {left:-15px; top:-2px}
		&.telefono img {left:-15px; top:-5px}
		&:hover {
			img.color {opacity:1}
		}
		&.campaña {font-size:0.7em; text-decoration:underline}
	}
}


/* TOPBAR */
body.topbarDocu {margin:0; padding:0;
	.topbar {background:#54A593; color:white; height:10%; line-height:10%; font-size:40px; font-family:sans-serif;
		a {text-decoration:none;
			&.logo {height:100%; display:inline-block; background-color:#3D6961; vertical-align:middle;
				img.blanco {display:none}
				&:hover {background-color:#C23D4C;
					img.negro {display:none}
					img.blanco {display:inline}
				}
			}
		}
		img {height:80%; margin:0 20px; margin-top:10px; vertical-align:middle;}
		.title {display:inline-block; vertical-align:middle}
	}
	iframe.docu {width:100%; height:90%; }
}
