@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: white;
  font-family: sans-serif; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.header {
  position: relative; }
  .header .top {
    position: relative;
    height: 600px;
    overflow: hidden; }
    .header .top img.bkg {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	transition: all 2s ease;
	visibility: visible;
}
    .header .top:hover img.bkg {
      width: 120%;
      top: -10%;
      left: -10%; }
    .header .top div.logo-y-ocupemos {
      text-align: left;
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 2;
      color: white; }
      .header .top div.logo-y-ocupemos div.logo {
        height: 8em;
        position: relative;
        height: 8em; }
@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }
@-moz-keyframes fadeIn {
  from {
    -moz-transform: scale(0); }
  to {
    -moz-transform: scale(1); } }
@keyframes fadeIn {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
        .header .top div.logo-y-ocupemos div.logo img {
          height: 8em;
          position: absolute;
          top: 0;
          left: 0; }
          .header .top div.logo-y-ocupemos div.logo img.white {
            z-index: 1; }
          .header .top div.logo-y-ocupemos div.logo img.color {
            z-index: 2;
            opacity: 0;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease; }
        .header .top div.logo-y-ocupemos div.logo:hover img.color {
          opacity: 1; }
      .header .top div.logo-y-ocupemos div.ocupemos-el-congreso {
        margin-top: 5em;
        margin-left: 6em;
        text-align: left;
        font-weight: bold;
        font-size: 1.3em; }
        .header .top div.logo-y-ocupemos div.ocupemos-el-congreso img {
          margin-bottom: 0.7em; }
        .header .top div.logo-y-ocupemos div.ocupemos-el-congreso span {
          margin-left: 2em; }
    .header .top div.topbar {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	text-align: right;
	width: 132px;
}
      .header .top div.topbar a {
        display: inline-block;
        margin: 10px 10px 0 0;
        width: 75px;
        height: 75px;
        position: relative; }
        .header .top div.topbar a img {
          width: 75px;
          position: absolute;
          top: 0;
          left: 0;
          vertical-align: middle; }
          .header .top div.topbar a img.white {
            z-index: 1; }
          .header .top div.topbar a img.color {
            z-index: 2;
            opacity: 0;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease; }
        .header .top div.topbar a.twitter img {
          top: 5px; }
        .header .top div.topbar a:hover img.color {
          opacity: 1; }
  .header .bottom {
	break: none;
	color: white;
	text-align: center;
	background: #214e64 url(../img/bkg/that-kinda-blue.jpg);
	height: 410px;
	overflow: hidden;
	position: relative;
}
    .header .bottom .left, .header .bottom .middle, .header .bottom .right {
	display: inline-block;
	width: 33%;
	max-width: 500px;
	height: 410px;
	overflow: hidden;
}
    .header .bottom .front {
      position: relative;
      width: 100%;
      height: 100%; }
      .header .bottom .front h2 {
        position: absolute;
        bottom: 0;
        font-size: 2em; }
    .header .bottom .left, .header .bottom .right {
      opacity: 0.9;
      position: relative; }
      .header .bottom .left .hover, .header .bottom .right .hover {
	position: absolute;
	top: 420px;
	height: 250px;
	width: 100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
      .header .bottom .left:hover, .header .bottom .right:hover {
        opacity: 1; }
        .header .bottom .left:hover .hover, .header .bottom .right:hover .hover {
	top: 180px;
}
    .header .bottom .left {
      background: #393440 url(../img/bkg/kuma-degradado-rojo.jpg) no-repeat;
      background-size: auto 100%;
      background-position: left top;
      position: absolute;
      top: 0;
      left: 0; }
      .header .bottom .left .front h2 {
        left: 10%;
        text-align: left;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease; }
      .header .bottom .left .hover {
        background: #C94A50; }
        .header .bottom .left .hover .porque {
          margin: 2em;
          text-align: left; }
          .header .bottom .left .hover .porque a {
            text-decoration: underline; }
          .header .bottom .left .hover .porque a:hover {
            color: black; }
      .header .bottom .left:hover .front h2 {
	bottom: 294px;
	left: 45%;
}
    .header .bottom .middle {
      width: 36%;
      text-align: center;
      position: relative; }
      .header .bottom .middle .front {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease;
        z-index: 2;
        /*background:#63CABB url(../img/bkg/newsletter.jpg) center bottom no-repeat; background-size:100%;*/
		/*#204e63 #005063 */
        background: #325266 url(../img/bkg/seisMeses-participacion.png) no-repeat;
        background-size: auto auto;
        background-position: center bottom; }
        .header .bottom .middle .front .seisMeses {
          background: #325266;
          height: 180px;
          width: 100%; }
          .header .bottom .middle .front .seisMeses img {
            margin-top: 15px;
            opacity: 0.5;
            width: 90%; }
          .header .bottom .middle .front .seisMeses:hover img {
            opacity: 1; }
      .header .bottom .middle:hover .front {
        opacity: 0; }
      .header .bottom .middle .hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 420px;
        z-index: 1; }
        .header .bottom .middle .hover .giphy-embed {
          width: 100%;
          height: 100%; }
    .header .bottom .right {
      background: #393440 url(../img/bkg/wallace.jpg) no-repeat;
      background-size: auto 100%;
      background-position: right top;
      position: absolute;
      top: 0;
      right: 0; }
      .header .bottom .right .front h2 {
        right: 10%;
        text-align: right; }
      .header .bottom .right .hover {
        top: -168px; }
        .header .bottom .right .hover .suscribete {
          background: #62CABB;
          width: 100%;
          height: 168px; }
          .header .bottom .right .hover .suscribete h2 {
            margin: 0;
            padding-top: 0.8em; }
          .header .bottom .right .hover .suscribete input {
            display: block;
            width: 80%;
            margin: 0.5em auto;
            height: 1.5em;
            line-height: 1.5em;
            font-size: 1.5em;
            color: #7A9B91;
            text-align: center; }
      .header .bottom .right:hover {
        opacity: 1; }
        .header .bottom .right:hover .hover {
          top: 0; }
  .header h1 {
    color: white; }

.cleanser {
  background: #ccc;
  text-align: center;
  font-weight: bold;
  text-align: center; }
  .cleanser h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: black;
    padding: 1.5em 0; }
  .cleanser a {
    color: black;
    text-decoration: underline; }
  .cleanser a:hover {
    color: #FA5651; }

.novedades .novedad {
  display: block;
  height: 200px;
  line-height: 200px;
  text-align: left; }
  .novedades .novedad .arrow {
    display: inline-block;
    width: 45%;
    text-align: right;
    height: 200px;
    line-height: 200px;
    max-width: 650px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease; }
    .novedades .novedad .arrow .chevron {
      float: right;
      margin-right: -100px;
      margin-left: 0;
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      border-top: 100px solid transparent;
      border-bottom: 100px solid transparent;
      border-left: 100px solid transparent; }
    .novedades .novedad .arrow .text {
	display: inline-block;
	font-size: 1.7em;
	line-height: 1em;
	vertical-align: middle;
	color: white;
}
      .novedades .novedad .arrow .text h1 {
        font-size: 1em;
        margin: 0;
        font-weight: normal; }
      .novedades .novedad .arrow .text .links {
        text-align: center;
        font-size: 0.7em;
        visibility: hidden;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease;
        margin-top: 1em; }
        .novedades .novedad .arrow .text .links a {
	text-decoration: underline;
	color: black;
	display: inline-block;
	margin-right: 1em;
	text-align: left;
}
  .novedades .novedad.reverse {
    text-align: right; }
    .novedades .novedad.reverse .arrow {
      text-align: left; }
      .novedades .novedad.reverse .arrow .chevron {
        float: left;
        margin-right: 0;
        margin-left: -100px;
        border-left-width: 0;
        border-right: 100px solid transparent; }
  .novedades .novedad:nth-child(1) {
    background: #8C424C url(../img/bkg/70-renuncia.jpg) no-repeat;
    background-size: auto auto;
    background-position: right 0;
    -webkit-transition: background-position-y 3s ease;
    -moz-transition: background-position-y 3s ease;
    transition: background-position-y 3s ease; }
    .novedades .novedad:nth-child(1):hover {
      background-position: right -400px; }
      .novedades .novedad:nth-child(1):hover .arrow {
        /*width: 40%; */ }
    .novedades .novedad:nth-child(1) .arrow {
      background: #FB524E; }
      .novedades .novedad:nth-child(1) .arrow .chevron {
        border-left-color: #FB524E; }
  .novedades .novedad:nth-child(2) {
    background: #3D797E url(../img/bkg/razonamiento.jpg) no-repeat;
    background-size: auto auto;
    background-position: 0 0;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    transition: all 1.5s ease; }
    .novedades .novedad:nth-child(2):hover {
      background-position: 0 -200px; }
      .novedades .novedad:nth-child(2):hover .arrow {
        /*width: 35%;*/ }
    .novedades .novedad:nth-child(2) .arrow {
      background: #5CCAC6; }
      .novedades .novedad:nth-child(2) .arrow .chevron {
        border-right-color: #5CC9C6; }
  .novedades .novedad:nth-child(3) {
    background: #AB7C22 url(../img/bkg/del-congreso-a-las-calles.jpg) no-repeat;
    background-size: auto auto;
    background-position: right 0;
    -webkit-transition: background-position-y 1.5s ease;
    -moz-transition: background-position-y 1.5s ease;
    transition: background-position-y 1.5s ease; }
    .novedades .novedad:nth-child(3):hover {
      background-position: right -200px; }
      .novedades .novedad:nth-child(3):hover .arrow {
        /*width: 30%;*/ }
    .novedades .novedad:nth-child(3) .arrow {
      background: #E8A41D; }
      .novedades .novedad:nth-child(3) .arrow .chevron {
        border-left-color: #E8A41D; }
  .novedades .novedad:nth-child(4) {
    background: #2D614A url(../img/bkg/sin-voto-no-hay-dinero.jpg) no-repeat;
    background-size: auto auto;
    background-position: 0 0;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    transition: all 3s ease; }
    .novedades .novedad:nth-child(4):hover {
      background-position: 0 -600px; }
      .novedades .novedad:nth-child(4):hover .arrow {
        /*width: 35%;*/ }
    .novedades .novedad:nth-child(4) .arrow {
      background: #3BAD66; }
      .novedades .novedad:nth-child(4) .arrow .chevron {
        border-right-color: #3BAD66; }
  .novedades .novedad:hover .text .links {
    visibility: visible; }

.equipo-kuma {
	background: white;
	height: 72em;
	overflow: hidden;
}
  .equipo-kuma div.equipo-strip {
    margin-bottom: 1em;
    height: 6em;
    position: relative; }
    .equipo-kuma div.equipo-strip .fleft, .equipo-kuma div.equipo-strip .fright {
      position: absolute;
      top: 0;
      height: 30em; }
    .equipo-kuma div.equipo-strip .fleft {
      left: 0; }
    .equipo-kuma div.equipo-strip .fright {
      right: 0; }
    .equipo-kuma div.equipo-strip a {
	text-decoration: none;
	display: inline-block;
	padding: 0.3em 0;
	position: relative;
	height: 3em;
	width: 400px;
	color: black;
	font-size: 2em;
	line-height: 4em;
}
      .equipo-kuma div.equipo-strip a img {
        width: 50px;
        position: absolute;
        top: 1.5em;
        left: 0.7em;
        vertical-align: middle; }
        .equipo-kuma div.equipo-strip a img.gray {
          z-index: 1; }
        .equipo-kuma div.equipo-strip a img.color {
          z-index: 2;
          opacity: 0;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          transition: all 1s ease; }
    .equipo-kuma div.equipo-strip a:hover {
      color: #FA5651; }
      .equipo-kuma div.equipo-strip a:hover img.color {
        opacity: 1; }
  .equipo-kuma div.listado {
    clear: both;
    margin: 0 auto;
    width: 900px; }
    .equipo-kuma div.listado a {
      color: #3366BB; }
    .equipo-kuma div.listado div.half {
      float: left;
      width: 47%; }
      .equipo-kuma div.listado div.half.left {
        text-align: right;
        margin-right: 5%; }
      .equipo-kuma div.listado div.half.right {
        text-align: left; }
      .equipo-kuma div.listado div.half div {
        margin: 1em 0;
        margin-bottom: 2em; }
        .equipo-kuma div.listado div.half div strong {
          font-size: 1.2em; }
        .equipo-kuma div.listado div.half div span {
          display: block;
          font-variant: small-caps;
          font-size: 1.1em; }
        .equipo-kuma div.listado div.half div em {
          display: block; }

.iniciativas {
  background: #1A2A35 url(../img/bkg/iniciativas.jpg) no-repeat;
  background-size: 100% auto;
  height: 300px; }

.footer {
  color: white;
  text-align: center;
  background: #1A2A35;
  height: 250px;
  padding-top: 2em;
  font-size: 1.2em; }
  .footer a {
    display: inline-block;
    padding: 0.3em 2em;
    position: relative;
    height: 60px; }
    .footer a img {
      width: 45px;
      position: absolute;
      top: 0;
      left: 0;
      vertical-align: middle; }
      .footer a img.white {
        z-index: 1; }
      .footer a img.color {
        z-index: 2;
        opacity: 0;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease; }
    .footer a.twitter img {
      top: 5px;
      width: 60px; }
    .footer a.facebook img {
      width: 60px; }
    .footer a.correo img {
      left: -15px;
      top: -2px; }
    .footer a.telefono img {
      left: -15px;
      top: -5px; }
    .footer a:hover img.color {
      opacity: 1; }
    .footer a.campaña {
      font-size: 0.7em;
      text-decoration: underline; }

/* TOPBAR */
body.topbarDocu {
  margin: 0;
  padding: 0; }
  body.topbarDocu .topbar {
    background: #54A593;
    color: white;
    height: 10%;
    line-height: 10%;
    font-size: 40px;
    font-family: sans-serif; }
    body.topbarDocu .topbar a {
      text-decoration: none; }
      body.topbarDocu .topbar a.logo {
        height: 100%;
        display: inline-block;
        background-color: #3D6961;
        vertical-align: middle; }
        body.topbarDocu .topbar a.logo img.blanco {
          display: none; }
        body.topbarDocu .topbar a.logo:hover {
          background-color: #C23D4C; }
          body.topbarDocu .topbar a.logo:hover img.negro {
            display: none; }
          body.topbarDocu .topbar a.logo:hover img.blanco {
            display: inline; }
    body.topbarDocu .topbar img {
      height: 80%;
      margin: 0 20px;
      margin-top: 10px;
      vertical-align: middle; }
    body.topbarDocu .topbar .title {
      display: inline-block;
      vertical-align: middle; }
  body.topbarDocu iframe.docu {
    width: 100%;
    height: 90%; }

/*# sourceMappingURL=style.css.map */
